In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import datetime

In [4]:
df = pd.read_excel(r'Onyx dataset.xlsx')
df.head()

,Campaign,Date,City/Location,Latitude,Longitude,Channel,Device,Ad,Impressions,"CTR, %",Clicks,Daily Average CPC,"Spend, GBP",Conversions,"Total conversion value, GBP",Likes (Reactions),Shares,Comments
0,Spring,2023-03-01,Birmingham,52.489471,-1.898575,Facebook,Desktop,Collection,1110.8,0.0185,20.54980,1.3915,28.595047,1,51.840,45.0,4.0,3.0
1,Spring,2023-03-02,Birmingham,52.489471,-1.898575,Facebook,Desktop,Collection,1296.6,0.0110,14.26260,0.7245,10.333254,2,40.320,14.0,17.0,10.5
2,Spring,2023-03-03,Birmingham,52.489471,-1.898575,Facebook,Desktop,Collection,1264.4,0.0132,16.69008,0.3795,6.333885,4,53.760,24.0,1.0,7.5
3,Spring,2023-03-04,Birmingham,52.489471,-1.898575,Facebook,Desktop,Collection,837.8,0.0159,13.32102,0.5750,7.659586,3,25.920,59.0,10.0,6.0
4,Spring,2023-03-05,Birmingham,52.489471,-1.898575,Facebook,Desktop,Collection,1599.0,0.0144,23.02560,0.8280,19.065197,2,108.192,44.0,17.0,1.5